/administrator/components/com_easycreator/logs/*.log
/administrator/components/com_easycreator/scripts/*.xml
/administrator/components/com_easycreator/builds
/administrator/components/com_easycreator/exports/templates
/administrator/components/com_easycreator/cliapps
