<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="component" label="Settings" description="Settings_Desc">

		<field name="show_category" type="radio" label="Show Category"
			description="Show_Category_Desc" default="0">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</field>
	</fieldset>
</config>
