/*@global*/

.mif-tree-wrapper{
position: relative;
width: 100%;
height:100%;
margin:0;
padding:0;
overflow:auto;
font-family:sans-serif;
font-size:11px;
line-height:18px;/******Tree node height******/
white-space:nowrap;
cursor:default;
}

.mif-tree-bg{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
}

.mif-tree-bg-container{
width:100%;
display:none;
}

.mif-tree-bg-node{
width:100%;
height:18px;
}

.mif-tree-bg-selected{
background-color:#dcd7ab;
}

.mif-tree-wrapper:focus{
outline:0;
}

.mif-tree-wrapper span{
padding-bottom:2px;
padding-top:2px;
cursor:inherit;
}

.mif-tree-children{
padding-left:18px;
width:18px;
}

.mif-tree-node{
width:18px;
position:relative;
background:url('../images/line.gif') repeat-y 8px 0px;
}

.mif-tree-node-last{
background:url('../images/line.gif') no-repeat 8px 0px;
}

.mif-tree-name{
cursor: default;
overflow:hidden;
margin-left:4px;
}

.mif-tree-name a{
color:red;
}

.mif-tree-name a:hover{
color:blue;
}


.mif-tree-wrapper .mif-tree-node-wrapper{
background:url('../images/horizontal-line.gif') no-repeat 9px center;
}

/*@gadjets*/

.mif-tree-gadjet{
background-image:url('../images/gadjets.gif');
padding-right: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
cursor:default;
}

.mif-tree-gadjet-none{
background:none;
}

.mif-tree-gadjet-minus{
background-position: 0px 50%;
}

.mif-tree-gadjet-plus{
background-position: -18px 50%;
}

.mif-tree-gadjet-middle{
background-position: -36px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-minus{
background-position: -54px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-plus{
background-position: -72px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-middle{
background-position: -90px 50%;
}


/*.mif-tree-gadjet-hover{
background-image:url('../images/gadjets-hover.gif');
}*/




/*@icons*/
.mif-tree-icon{
padding-right:18px;
background-position:0 50%;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-tree-open-icon{
background-image:url('../images/openicon.gif')
}

.mif-tree-close-icon{
background-image:url('../images/closeicon.gif')
}

.mif-tree-middle-icon{
background-image:url('../images/middleicon.gif');
}

.mif-tree-loader-open-icon,.mif-tree-loader-close-icon{
background-image:url('../images/mootree_loader.gif');
}

.mif-tree-book-icon{
background-image:url('../images/book_icon.gif');
}

.mif-tree-bin-open-icon{
background-image:url('../images/bin_open_icon.gif');
}

.mif-tree-bin-close-icon{
background-image:url('../images/bin_close_icon.gif');
}

.mif-tree-bin-middle-icon{
background-image:url('../images/bin_middle_icon.gif');
}




/*@selection*/

.mif-tree-node-selected .mif-tree-name{
background-color: #010161;
color:#fff;
}

.mif-tree-highlighter{
height:18px;
overflow:hidden;
width:100%;
background:#b64553;
position:absolute;
}



/*@d'n'd*/
.mif-tree-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('../images/1.gif');
background-repeat:repeat-x;
background-color:#292fef;
}


.mif-tree-ghost{
background-color:#fff;
border:solid 2px #e8e8f7;
padding-left:2px;
position:absolute;
}

.mif-tree-ghost .mif-tree-node-wrapper{
background:none;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background-color:#fff;
background-repeat:no-repeat;
background-image:url('../images/dropzone.gif');
}

.mif-tree-ghost-after{
background-position:-64px 2px;
}

.mif-tree-ghost-before{
background-position:-48px 2px;
}

.mif-tree-ghost-between{
background-position:-16px 2px;
}

.mif-tree-ghost-inside{
background-position:-0px 2px;
}

.mif-tree-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-tree-drag-current{
background-color:#cfcfd8;
}

.mif-tree-replace{
background-color:#99c8fb;
}


/*@checkbox*/
.mif-tree-checkbox{
padding-left:18px;
}

.mif-tree-node-checked, .mif-tree-node-checked .mif-tree-checkbox{
background:url('../images/checked.gif') center 2px no-repeat;
}

.mif-tree-node-unchecked, .mif-tree-node-unchecked .mif-tree-checkbox{
background:url('../images/unchecked.gif') center 2px no-repeat;
}

.mif-tree-node-checked-selected{
background:url('../images/checked_selected.gif') center 2px no-repeat;
}

.mif-tree-node-unchecked-selected{
background:url('../images/unchecked_selected.gif') center 2px no-repeat;
}



/*@rename*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}