##*HEADERCSS*##

.icon-48-_ECR_LOWER_COM_NAME_-categories.icon-48-categories {
	background-image:
		url(../../images/administrator/icon-48-_ECR_COM_COM_NAME_-categories.png);
}

.icon-48-_ECR_LOWER_COM_NAME_-category-edit.icon-48-category-edit {
	background-image:
		url(../../images/administrator/icon-48-_ECR_COM_COM_NAME_-category-edit.png);
}

.icon-48-_ECR_LOWER_COM_NAME_-category-add.icon-48-category-add {
	background-image:
		url(../../images/administrator/icon-48-_ECR_COM_COM_NAME_-category-add.png);
}