<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style type='text/css'>
/*/*/ /*<![CDATA[*/
@import "$localcss";
#quickbar { position: absolute; left: 4px; }
#article { margin-left: 4px; margin-top: 4px; margin-right: 4px; }
a.new, #quickbar a.new { color: #CC2200; }

/*]]>*/ /* */
</style>
</head>
<body bgcolor='#FFFFFF' onload=''>
<div id="content">
<div id='article'>

$content   

</div>
</div>
</body>
</html>