/**
 * @package    EasyCreator
 * @subpackage CSS
 * @author     Nikolai Plath (elkuku)
 * @author     Created on 20-Mar-2009
 */
td.diff-addedline {
    background-color: #ffffbb;
}

td.diff-deletedline {
    background-color: #ddffdd;
}

table.diff td {
    font-family: monospace;
    font-size: 100%;
}

table.diff td.diff-addedline strong, table.diff td.diff-deletedline strong {
    color: red;
}
