/**
 * @package    EasyCreator
 * @subpackage CSS
 * @author     Nikolai Plath (elkuku)
 * @author     Created on 20-Dec-2007
 */
span.ecr_label2 {
    padding: 3px;
    background-color: #CCE5FF;
}

/* common styling */
#ecr_menu, #ecr_menu ul, #ecr_menu li {
    margin: 0;
    padding: 0;
    border: 0 none;
}

#ecr_menu {
    position: relative;
    z-index: 100;
}

#ecr_menu li {
    float: left;
    position: relative;
    list-style: none;
    display: inline;
}

#ecr_menu li a {
    display: block;
    white-space: nowrap;
}

#ecr_menu li li {
    /*width: 100%;*/
    clear: both; /*FF 1.0.7 needs this */
}

#xecr_menu li ul {
    visibility: hidden;
    position: absolute;
}

#ecr_menu li li ul {
    top: 0;
    left: 0;
}

#ecr_menu li.hover ul {
    visibility: visible;
}

#ecr_menu li.hover ul li ul {
    visibility: hidden;
}

#ecr_menu li.hover li.hover ul {
    visibility: visible;
    left: 100%;
}

/* ---- Menu layout -------------------------- */
#ecr_menu li {
    border-left: 1px solid #fff;
    border-right: 1px solid #d8d8d8;
}

#ecr_menu li li {
    border: 0;
}

#ecr_menu ul {
    border: 0.1em solid #ccc;
    background: #f6f6f6 url(../images/bg-menu.gif) repeat-y left;
}

#ecr_menu ul li.node {
    background: transparent url(../images/j_arrow.png) no-repeat right 50%;
}

#ecr_menu ul li.separator {
    background: #DDE1E6 url(../images/bg-menu.gif);
    height: 1px;
}

#ecr_menu a, #ecr_menu div {
    padding: 0.35em 1em 0.35em;
    margin: 0 1px 0 1px;
    color: #333333;
    line-height: 1.6em;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
    background-repeat: no-repeat;
    background-position: left 50%
}

#ecr_menu li.disabled a {
    color: gray;
}

#ecr_menu ul a {
    font-size: 11px;
    font-weight: normal;
    padding-left: 25px;
    padding-right: 20px;
    line-height: 1.2em;
}

/* 1 level - hover */
#ecr_menu li.hover a {
    background-color: #E7EDDF;
    border-left: 1px solid #6D9D2E;
    border-right: 1px solid #6D9D2E;
    margin: 0;
}

/* 2 level - normal */
#ecr_menu li.hover li a {
    background-color: transparent;
    border: 0 none;
    margin: 2px;
}

/* 2 level - hover */
#ecr_menu li.hover li.hover a {
    background-color: #E7EDDF;
    border: 1px solid #6D9D2E;
    margin: 1px;
}

/* 3 level - normal */
#ecr_menu li.hover li.hover li a {
    background-color: transparent;
    border: 0 none;
    margin: 2px;
}

/* 3 level - hover */
#ecr_menu li.hover li.hover li a:hover {
    background-color: #E7EDDF;
    border: 1px solid #6D9D2E;
    margin: 1px;
}

/* submenu styling */
#submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#submenu li {
    float: left;
    padding: 0;
    margin: 0;
}

#submenu li a, #submenu span.nolink {
    cursor: pointer;
    padding: 0px 15px;
    border-right: 1px solid #ccc;
    font-weight: bold;
    color: #0B55C4;
    line-height: 12px;
    height: 12px;
}

#submenu span.nolink {
    color: #999;
}

#submenu a.active, #submenu span.nolink.active {
    color: #000;
    text-decoration: underline;
}
