@CHARSET "UTF-8";
/**
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku)
 * @author      Created on 03-Aug-2011
 */
fieldset.adminform {
    border: 0;
}

div.g11nNotice {
    background-color: #ffc;
    border: 1px solid orange;
    padding: 0.5em;
}

div#maintainResponse {
    font-size: 13px;
}
