/**
 * @package    EasyCreator
 * @subpackage CSS
 * @author     Nikolai Plath (elkuku)
 * @author     Created on 20-Dec-2007
 */

h1 {
    text-shadow: #999 2px 2px 2px;
    margin: 0;
}

h1.ecrTitel {
    margin-top: 120px;
}

span.ecrTopTitle {
    text-shadow: orange -1px -1px 2px;
}

div.boxHeader {
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: #999 1px 1px 2px;
}

pre.ebc_code {
    border: 1px dashed grey;
    padding: 5px;
    background-color: #FFFFCC;
}

pre {
    white-space: pre-wrap; /* css-3 */
    /*
  white-space: -moz-pre-wrap !important;*/
    /* Mozilla, seit 1999 */
    /*    white-space: -pre-wrap;  Opera 4-6 */
    /*    white-space: -o-pre-wrap;  Opera 7 */
    /*    word-wrap: break-word;  Internet Explorer 5.5+ */
    width: 99%;
    font-size: 12px;
}

.preCell {
    font-family: monospace;
    text-align: right;
}

div.ebc_filename {
    border: 1px solid grey;
    padding: 5px;
    background-color: #CCB2FF;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

div.ebc_error {
    border: 1px solid black;
    background-color: #FFB299;
    padding: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

.ecr_minibutton {
    border: 1px solid white;
    cursor: pointer;
}

.ecr_minibutton:hover {
    border: 1px solid black;
    background-color: yellow;
}

.ecr_project_selector {
    padding: 5px;
    font-size: 1.2em;
}

.ecr_title_file {
    background-color: #FFFF99;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 5px 5px 0 0;
}

.ecr_create_it {
    border: 1px solid black;
    padding: 5px;
    background-color: yellow;
    font-size: 1.4em;
}

.ecr_create_it:hover {
    background-color: red;
    cursor: pointer;
}

.ecr_deletebutton {
    border: 2px solid black;
    padding: 5px;
    background-color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}

.ecr_deletebutton:hover {
    background-color: #ff0033;
    cursor: pointer;
    box-shadow: 0 0 15px #000;
}

.ecrBigInfo {
    background: url(../images/splash_green.png) 0 50% no-repeat;
    background-color: #E5FF99;
    padding: 3px;
    padding-left: 35px;
    min-height: 30px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px;
}

/*//////////*/
.nik_menu_button {
    padding: 5px;
    color: black;
    cursor: pointer;
}

.nik_menu_button_active {
    padding: 5px;
    border-bottom: 2px solid #99B200;
    border-top: 2px solid #99B200;
    color: black;
    font-weight: bold;
}

.xnik_menu_button:hover {
    border: 3px solid #D9D9D9;
    text-decoration: none;
}

.nikutil_querybox {
    padding: 5px;
    border: 1px dashed black;
    background-color: #F2F2F2;
}

/* language */
.tr_lang {
    border-bottom: 1px solid black;
}

.tr_lang:hover {
    border-bottom: 1px solid red;
    background-color: #FFFFFF;
}

/* THE button */
.ecr_button {
    text-align: center;
    padding: 3px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}

.ecr_button a, .ecr_button a:visited {
    text-decoration: none;
    color: black;
}

.ecr_button a:hover {
    text-decoration: none;
}

.ecr_button:hover {
    background-color: #fff;
    /*
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    */
    border: 1px solid #fff;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 6px orange;
}

.ecr_toggle {
    text-align: left;
    font-weight: bold;
    padding: 3px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    background-color: #ffffcc;
}

/* tabs n slides */
.ecr_toggle:hover {
    background-color: #e5ff99;
}

dl.tabs dt:hover {
    background-color: #e5ff99;
}

/* label */
label {
    border-bottom: 1px dotted #99B2FF;
    cursor: pointer;
}

label:hover {
    /*background-color: #ffc;
    border-radius: 10px;*/
    box-shadow: 0 0 3px orange;
}

.ecr_result {
    border-top: 2px solid #ffe566;
    border-bottom: 2px solid #ffe566;
    background-color: #ffc;
    padding: 3px;
    border-radius: 10px;
}

div#stepbar {
    background: #f7f7f7;
}

/* ugly boxes.. */
div.explanation {
    background-color: #e5ff99;
    border: 1px dashed grey;
    padding: 5px;
}

div.ecr_attention {
    background-color: #E5FF99;
    border: 1px dashed grey;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: red;
}

div.ecr_error {
    border: 1px solid black;
    background-color: #FFB299;
    padding: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

.pane-sliders .panel h3:hover {
    background-color: #FFFFCC;
}

div#toolbar-box {
    /* let's kill the standard Joomla! toolbar box =;)
     * otherwise displays an ugly empty div with some J! images..
     * TODO: any cleaner method ?
     */
    display: none;
}

div.subhead-collapse {
    /* let's kill the standard Joomla! toolbar box - in J! 3 =;)
    * otherwise displays an ugly empty div with some J! images..
    * TODO: any cleaner method ?
    */
    display: none;
}
/* copied from Joomla! installation.css */
h3.moofx-toggler {
    margin: 0;
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #EBEBEB;
    margin-bottom: 1px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

h3.moofx-toggler {
    background: #EBEBEB url(../images/j_arrow.png) 5px 50% no-repeat;
    text-indent: 15px;
}

h3.moofx-toggler-down {
    background-image: url(../images/j_arrow_down.png);
}

/* hack to stop ugly aliasing in IE */
div.moofx-slider {
    background: #fbfbfb;
}

/*
 * DEBUGGER
 */
.ecr_debug {
    background-color: #FFE5B2;
    border: 1px dashed grey;
    padding: 5px;
}

div.debug_ON {
    background-color: #FF7F7F;
    border: 2px solid grey;
    padding: 4px;
    float: right;
    border-radius: 5px;
}

/*
* Tree
*/
div.tree_link, a.tree_link:visited {
    color: black;
    display: inline;
    cursor: pointer;
}

div.tree_link:hover {
    background-color: #FFFFB2;
    text-decoration: none;
}

div.tree_link:selection {
    font-weight: bold;
    color: red;
}

/* Descriptions */
.hidden_div {
    display: none;
}

.ecr_description {
    background-color: #ffc;
    font-weight: bold;
    padding: 1.2em;
    border-radius: 10px;
    box-shadow: 0 0 30px #ffc;
}

/* external links */
a.external {
    background-image: url(../images/ico/external_link.gif);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 16px;
}

div.ecr_codebox_header {
    background-color: #E5FF99;
}

div.ecr_codebox_header:hover {
    background-color: #ffffcc;
    cursor: pointer;
}

div.ecr_menu_box {
    border: 1px solid #d9d9d9;
    display: inline;
    padding: 0.4em;
}

table.ecrlist tbody tr.row0:hover td, table.ecrlist tbody tr.row1:hover td {
    background-color: #e5ff99;
}

div.custom_opt {
    font-size: 1.3em;
    cursor: pointer;
}

div.custom_opt:hover {
    background-color: #ffc;
}

/* ajax message */
#ecr_status_msg {
    width: auto;
    display: none;
}

.ecr_ajax_loader_big {
    background: url(../images/ajax-loader2.gif) 50% 50% no-repeat;
    height: 32px;
    padding-left: 4em;
}

/* ToolTips */
.easy-tip {
    color: #000;
    width: 200px;
    z-index: 13000;
    border: 1px solid gray;
}

.easy-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #AF0A0A;
    padding: 8px 8px 4px;
    background: #FFCB3F;
    border-bottom: 1px solid gray;
}

.easy-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #FFE79F;
}

div.table_name {
    text-align: center;
    font-weight: bold;
    background-color: #ffc;
    padding: 0.2em;
    border: 1px solid silver;
    border-radius: 10px;
}

/* Console style */
pre.console {
    background-color: black;
    color: white;
    padding: 0.5em;
}

div.ecr_floatbox {
    float: left;
    margin: 0.5em;
    background-color: #fff;
    min-width: 160px;
    padding: 0.5em;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #666;
}

div.ecr_floatbox_title {
    color: green;
    background-color: #ffc;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 0.2em;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div.ecr_floatbox.left {
    margin-left: 0;
}

div.ecr_floatbox.right {
    margin-right: 0;
    float: right;
}

div.white_box {
    background-color: #fff;
    padding: 1em;
    border: 1px solid silver;
    border-radius: 10px;
}

/* div table */
.ecr_table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.ecr_table-row {
    display: table-row;
}

.ecr_table-cell {
    display: table-cell;
    padding: 0.5em;
}

/* Joomla API */
div#jsourceDisplay {
    border: 1px solid gray;
    padding: 0.5em;
    background-color: #fff;
}

div#jsourceDisplay div.path {
    background-color: #ffc;
    padding: 0.3em;
}

/* Scope colours */
.color_admin {
    background-color: #ffcc99;
}

.color_admin_menu {
    background-color: #ff6600;
}

.color_site {
    background-color: #9ff;
}

.color_relations {
    background-color: #ff6600;
}

.infoHeader {
    background-color: #ccc;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #505050;
    text-shadow: 1px 1px 0px #fff;
    min-height: 20px;
    box-shadow: 0px 0px 2px #000;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

div#ecrInfoBox {
    padding-top: 0.5em;
    border-radius: 10px 10px 0 0;
    border: 2px solid orange;
}

div#ecrInfoBox a {
    color: #000;
    padding: 0.4em;
    padding-right: 18px;
}

div#ecrInfoBox a:hover {
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

div#ecrInfoBox a.ohloh {
    padding: 0;
}

div.ecrFooter {
    text-align: center;
    padding: 3px;
    margin-top: 1em;
    background-color: #ddd;
    border-radius: 30px;
    box-shadow: 0 0 4px black;
}

div.ecrFooter a {
    color: gray;
}

.logging-options {
    border: 1px solid gray;
    padding: 0.3em;
    border-radius: 10px;
    background-color: #eeeeff;
}

input:focus, textarea:focus {
    outline: 2px solid orange ! important;
}

input:hover, select:hover, textarea:hover {
    background-color: #eee;
}

div.projectListRow {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
}

div.projectListRow:hover {
    /*background-color: #eee;*/
}

.projectListHeader {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    border: 2px solid silver;
    border-radius: 10px;
    text-shadow: #999 1px 1px 2px;
}

.projectListHeader.registered {
    background-color: #E5FF99;
}

.projectListHeader.unregistered {
    background-color: #FFFF99;
}

div.ecr_noproject {
    text-align: center;
    font-weight: bold;
    color: orange;
    font-size: 1.3em;
}

/* Access keys */
*[accesskey]:after {
    content: ' [' attr(accesskey) ']'
}

div#ecr_versionCheck {
    position: absolute;
    left: 3em;
    border: 1px solid gray;
    padding: 0.5em;
    background-color: #fff;
}

div.ecrInfoBoxContainer {
    width: 222px;
    position: absolute;
    right: 3em;
}

div.path {
    background-color: #fff;
    font-family: monospace;
    font-size: 1.3em;
    margin: 0.5em;
}

div#ecr_logdisplay {
    border: 1px dashed gray;
}

/* add.. */
.btn-selected {
    border-top: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
}

.form-horizontal .control-group {
    margin-bottom: 0;
}

label.inline, span#EditAreaArroundInfos_ecr_code_area label {
    display: inline-block;
    min-width: 50px;
    padding-left: 0.2em;
    clear: none;
}

label.inline2 {
    display: inline-block;
    min-width: 150px;
    padding-left: 0.2em;
    clear: none;
}

.btn.block {
    display: block;
}

.btn.left {
    text-align: left;
}

/* reverts bootstrap style */
ul {
    margin: 0;
}

/* @todo some bootstrap forgotten in J! */
.btn-group > .btn {
    float: left;
}

.btn-group:after {
    clear: both;
}

.btn-group:before, .btn-group:after {
    content: "";
    display: table;
}

div#toolbar {
    margin-bottom: 0;
}
