div.buttons {
    margin-top: 1em;
    margin-bottom: 1em;
}

div#syncTree label.new {
    color: green;
}

div#syncTree label.changed {
    color: orange;
}

div#syncTree label.deleted {
    color: red;
}

div.allInSync {
    padding: 0.5em;
    color: green;
    text-align: center;
    font-size: 1.3em;
}

div#syncTree ul {
    list-style: none;
    padding-left: 1em;
}

ul.packageList {
    padding-left: 0;
}

ul.packageList li {
    list-style: none;
}

ul.packageList li:hover {
    background-color: #eee;
}

ul.packageList div.actions {
    float: right;
}
