/**
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku)
 * @author      Created on 28-Sep-2009
 */
label.creditsLabel {
    width: 13em;
    float: left;
    margin-right: 0.5em;
    display: block;
    font-weight: bold;
}

.ecr_floatbox ul {
    padding: 0;
    list-style: none;
}

.ecr_floatbox li {
    margin-bottom: 0.3em;
}

.ecr_floatbox h4 {
    margin: 0.2em;
}

ul.sortable {
    min-height: 18px;
    border: 1px solid gray;
    border-radius: 5px;
}

ul.sortable li {
    height: 18px;
}

ul.sortable li:hover {
    /*    background-color: #ddd;
    cursor: move;
    */
}

ul#package-to {
    background-color: #f2ffff;
}

ul.sortable li.menu {
    height: 80px;
}

/* Tables view */
div#er_display {
    border: 1px solid black;
    background-color: #ccc;
    margin: 1em;
    padding-bottom: 30px;
    padding-top: 30px;
}

div.closeButton {
    border: 1px solid gray;
    padding: 0.3em;
    font-weight: bold;
    float: right;
    border-radius: 3px;
}

div.closeButton:hover {
    cursor: pointer;
    box-shadow: 0 0 6px orange;
    background-color: #eee;
}

div#addBox {
    background-color: #fff;
    display: none;
    z-index: 33;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

div.plumbBox {
    padding: 0.3em;
}

th.hasTip {
    background-color: #b2cce5;
    cursor: help;
}

div.actionTitle {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #eee;
    padding: 0.2em;
}

div.arrowSeparator {
    float: left;
    display: table;
    height: 100px;
    margin: 0.5em;
    font-family: monospace;
    font-size: 25px;
}

div.arrowSeparator span {
    display: table-cell;
    vertical-align: middle;
}

div#actionButtons a {
    min-width: 200px;
    text-align: left;
}

/*/#################*/

dl.tabs {
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}

dl.tabs dt {
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open {
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;
}

div.current {
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

div.current dd {
    padding: 0;
    margin: 0;
}

div.updateServer {
    border: 1px solid silver;
    padding: 0.2em;
    margin-bottom: 0.5em;
}
