/**
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku)
 * @author      Created on 28-Sep-2009
 */
div.ecr_easy_toolbar {
    float: right;
    text-align: right;
    padding: 0;
}

div.ecr_easy_toolbar ul {
    margin: 0;
    padding: 0;
}

div.ecr_easy_toolbar li {
    padding: 1px 1px 3px 4px;
    text-align: center;
    color: #666;
    height: 48px;
    list-style: none;
    float: left;
}

div.ecr_easy_toolbar li.active {
    border-bottom: 2px solid #ffcc00;
    border-top: 2px solid #ffcc00;
    border-radius: 5px;
}

div.ecr_easy_toolbar li.spacer {
    width: 10px;
}

div.ecr_easy_toolbar li.divider {
    border-right: 2px solid #eee;
    width: 5px;
    margin-right: 10px
}

div.ecr_easy_toolbar span {
    float: none;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: block;
}

div.ecr_easy_toolbar a {
    display: block;
    float: left;
    white-space: nowrap;
    padding: 1px 5px;
    cursor: pointer;
    color: #000;
}

div.ecr_easy_toolbar a:hover, div.ecr_easy_toolbar a:focus {
    color: #003300;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 6px orange;
    text-decoration: none;
}

div#ecr_options_box {
    float: left;
    /*padding: 0.2em;*/
}
