@CHARSET "UTF-8";
/**
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku)
 * @author      Created on 07-Aug-2011
 */

ul.downloadLinks {
    list-style: none;
    padding-left: 1em;
}

ul.downloadLinks a {
    font-size: 1.3em;
}

ul.buildActions li {
    border-bottom: 1px solid silver;
}

div.customPath {
    border: 1px dotted gray;
    padding: 0.5em;
    background-color: #ffc;
    margin: 0.5em;
    font-size: 1.3em;
    font-family: monospace;
}

div.customPath span {
    color: blue;
    margin: 2px;
    font-weight: bold;
}

input#cst_format {
    font-family: monospace;
    font-size: 1.2em;
}

div.buttonZip {
    float: right;
    text-align: center;
}

div#ecr_logdisplay {
    text-align: left;
}
