/**
 * @version SVN: $Id$
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku) {@link http://www.nik-it.de NiK-IT.de}
 * @author      Created on 03-Okt-2009
 */
.icon-128-easycreator {
    background-image: url(../images/ico/icon-128-easycreator.png);
}
.icon-32-chart {
    background-image: url(../images/ico/icon-32-chart.png);
}

.icon-32-ecr_languages {
    background-image: url(../images/ico/icon-32-languages.png);
}

.icon-32-ecr_archive {
    background-image: url(../images/ico/icon-32-archive.png);
}

.icon-32-ecr_config {
    background-image: url(../images/ico/icon-32-config.png);
}

.icon-32-wizard {
    background-image: url(../images/ico/icon-32-wizard.png);
}

.icon-32-JHelp_btn {
    background-image: url(../images/joomla-logo-32.png);
}

.icon-32-xeyes {
    background-image: url(../images/ico/icon-32-xeyes.png);
}

.icon-32-nose {
    background-image: url(../images/ico/icon-32-the-nose-r.png);
}

.icon-24-easycreator {
    background-image: url(../images/ico/icon-24-easycreator.png);
}

.icon-32-ecr_save {
    background-image: url(../images/ico/icon-32-save.png);
}

.icon-32-ecr_delete {
    background-image: url(../images/ico/icon-32-delete.png);
}

.icon-24-debug {
    background-image: url(../images/ico/icon-24-bug.png);
}

.icon-24-info {
    background-image: url(../images/ico/icon-24-info.png);
}

.icon-24-install {
    background-image: url(../images/ico/icon-24-install.png);
    padding-left: 26px;
}

.icon-24-locale {
    background-image: url(../images/ico/icon-24-locale.png);
}

.icon-24-logging {
    background-image: url(../images/ico/icon-24-logging.png);
}

.icon-24-menu {
    background-image: url(../images/ico/icon-24-menu.png);
}

.icon-24-package_creation {
    background-image: url(../images/ico/icon-24-package_creation.png);
}

.icon-24-personal {
    background-image: url(../images/ico/icon-24-identity.png);
}

.icon-24-update {
    background-image: url(../images/ico/icon-24-update.png);
}

.icon-24-various {
    background-image: url(../images/ico/icon-24-various.png);
}

.icon-16-2leftarrow {
    background-image: url(../images/ico/icon-16-2leftarrow.png);
}

.icon-16-2rightarrow {
    background-image: url(../images/ico/icon-16-2rightarrow.png);
}

.icon-16-add {
    background-image: url(../images/ico/edit_add.png);
}

.icon-16-apply {
    background-image: url(../images/ico/apply.png);
}

.icon-16-ecr_params {
    background-image: url(../images/ico/icon-16-article.png);
}

.icon-16-bug {
    background-image: url(../images/ico/icon-16-bug.png);
}

.img.outdated {
    background-image: url(../images/ico/cancel.png);
}

.img.actual {
    background-image: url(../images/ico/apply.png);
}

.icon-16-cancel {
    background-image: url(../images/ico/cancel.png);
}

.icon-16-chart {
    background-image: url(../images/ico/icon-16-chart.png);
}

.icon-16-check_fail {
    background-image: url(../images/ico/cancel.png);
}

.icon-16-check_ok {
    background-image: url(../images/ico/apply.png);
}

.icon-16-comment {
    background-image: url(../images/ico/comment.png);
}

.icon-16-ecr_config {
    background-image: url(../images/ico/icon-16-config.png);
}

.icon-16-copytrans {
    background-image: url(../images/ico/icon-16-sig.png);
}

.icon-16-ecr_db {
    background-image: url(../images/ico/icon-16-db.png);
}

.icon-16-delete {
    background-image: url(../images/ico/editdelete.png);
}

.icon-16-directory {
    background-image: url(../images/ico/icon-16-directory.png);
}

.icon-16-easycreator {
    background-image: url(../images/ico/icon-16-easycreator.png);
}

.icon-16-firefox {
    background-image: url(../images/ico/icon-16-firefox.png);
}

.icon-16-ecr_language {
    background-image: url(../images/ico/icon-16-language.png);
}

.icon-16-opensuse {
    background-image: url(../images/ico/opensuse_6.gif);
    padding-left: 87px !important;
}

.icon-16-eye {
    background-image: url(../images/ico/icon-16-eye.png);
}

.icon-16-edit {
    background-image: url(../images/ico/icon-16-edit.png);
}

.icon-16-export {
    background-image: url(../images/ico/icon-16-export.png);
}

.icon-16-forum {
    background-image: url(../images/ico/icon-16-forum.png);
}

.icon-16-icon {
    background-image: url(../images/ico/icon-16-icon.png);
}

.icon-16-import {
    background-image: url(../images/ico/icon-16-import.png);
}

.icon-16-installfolder {
    background-image: url(../images/ico/icon-16-install.png);
}

.icon-16-locale {
    background-image: url(../images/ico/icon-16-locale.png);
}

.icon-16-package {
    background-image: url(../images/ico/icon-16-install.png);
}

.icon-16-php {
    background-image: url(../images/ico/icon-16-php.png);
}

.icon-16-rename {
    background-image: url(../images/ico/reload_page.png);
}

.icon-16-save {
    background-image: url(../images/ico/filesave.png);
}

.icon-16-sig {
    background-image: url(../images/ico/icon-16-sig.png);
}

.icon-16-text {
    background-image: url(../images/ico/icon-16-text.png);
}

.icon-16-joomla {
    background-image: url(../images/j_favicon.ico);
}

.icon-16-server {
    background-image: url(../images/ico/server.png);
}

.icon-16-rss {
    background-image: url(../images/ico/icon-16-rss.png);
}

.icon-16-update {
    background-image: url(../images/ico/reload_page.png);
}

.icon-16-wizard {
    background-image: url(../images/ico/icon-16-wizard.png);
}

.icon-16-yellowled {
    background-image: url(../images/ico/icon-16-yellowled.png);
}

.icon-joomla-compat-15 {
    background-image: url(../images/ico/Compat_icon_1_5.png);
}

.icon-joomla-compat-16 {
    background-image: url(../images/ico/Compat_icon_1_6.png);
}

.icon-joomla-compat-17 {
    background-image: url(../images/ico/Compat_icon_1_7.png);
}
.icon-joomla-compat-11-1 {
    background-image: url(../images/ico/Compat_icon_11_1.png);
}

.icon-12-component {
    background-image: url(../images/ico/ext_com_mini.png);
}

.icon-12-module {
    background-image: url(../images/ico/ext_mod_mini.png);
}

.icon-12-plugin {
    background-image: url(../images/ico/ext_plugin_mini.png);
}

.icon-12-template {
    background-image: url(../images/ico/ext_tem_mini.png);
}

.icon-12-library {
    background-image: url(../images/ico/ext_lib_mini.png);
}

.icon-12-package {
    background-image: url(../images/ico/ext_esp_mini.png);
}

.img {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.imgbar {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 28px;
}

.imgbarleft {
    background-repeat: no-repeat;
    background-position: 4px 50%;
    height: 28px;
}

.img12 {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 20px;
    /*    padding-top: 5px;
    padding-bottom: 5px;
    */
}

.img2 {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 17px;
    padding-top: 7px;
    padding-bottom: 0px;
}

.img3 {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.img4 {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 43px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.img32 {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.img32a {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.img32b {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 45px;
    padding-bottom: 5px;
}

.img32c {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding: 6px 15px 7px 25px;
    /*
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
    */
}

.img128 {
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 135px;
    padding-bottom: 130px;
}

.imgR {
    background-repeat: no-repeat;
    background-position: 90%;
    padding-right: 27px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ajax_loading {
    background-image: url(../images/ajax-loader2.gif);
    background-repeat: no-repeat;
    padding: 27px;
}

.ajax-loading-32 {
    background-image: url(../images/ajax-loader2.gif);
    background-repeat: no-repeat;
}

.ajax_loading16 {
    background-image: url(../images/ajax-loader16.gif);
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ajax_loading16-red {
    background-image: url(../images/ajax-loader16-red.gif);
    background-repeat: no-repeat;
    background-position: 4px 3px ! important;
    padding-left: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
}

dl.tabs dt {
    background-repeat: no-repeat !important;
    background-position: 4px 3px ! important;
    padding-left: 20px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

dl.tabs dt.component,dl.tabs dt#component {
    background-image: url(../images/ico/ext_com_mini.png) !important;
}

dl.tabs dt.module,dl.tabs dt#module {
    background-image: url(../images/ico/ext_mod_mini.png) !important;
}

dl.tabs dt.plugin,dl.tabs dt#plugin {
    background-image: url(../images/ico/ext_plugin_mini.png) !important;
}

dl.tabs dt.template,dl.tabs dt#template {
    background-image: url(../images/ico/ext_tem_mini.png) !important;
}
