/**
 * @package    EasyCreator
 * @subpackage CSS
 * @author     Nikolai Plath (elkuku)
 * @author     Created on 20-Dec-2007
 */
@CHARSET "UTF-8";

div.ecrSpecialLangConvert {
    padding: 0.7em;
    margin: 0.5em;
    background-color: #fff;
}
