/**
 * @version SVN: $Id$
 * @package		EasyCreator
 * @subpackage	CSS
 * @author		Nikolai Plath (elkuku) {@link http://www.nik-it.de NiK-IT.de}
 * @author		Created on 20-Dec-2007
 */

/* Common Styles */
/* Used by all layouts: do NOT remove this section */
.qtwrapper {
	height: 1%;
}
ul.qtabs {
	list-style-position: outside;
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
ul.qtabs li {
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	cursor: pointer;
}
.qtcontent {
	position: absolute;
	margin: 0;
/*	padding: 3px;*/
	width:99%;
	visibility: hidden;
}
.qtcurrent {
	position:relative;
	overflow:hidden; 
}
/* End Common Styles */

/* Layouts */
.qthead-lft-blue1 {
	float:left;
	background: #eeeeee; /* url(images/back1.gif) repeat-y scroll right top;*/
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #d0d0d0;
	height: 200px; /* same as .current-lft-blue1 */
}
.qthead-lft-blue1 ul.qtabs {
	margin: 0;
	
}
.qthead-lft-blue1 ul.qtabs li {
	float: none;
	background:#fff;/* url(images/bg-blue1.gif);*/
	margin: 0;
	padding: 4px !important;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	width: 110px;
}
.qthead-lft-blue1 ul.qtabs li:hover {
   background-color: #eee;
   }
.qthead-lft-blue1 ul.qtabs li span{
	color: #fff;
}
.qthead-lft-blue1 ul.qtabs li.open {
	background: #f4f4f4;
	border-right: 1px solid #f4f4f4;
}
.qthead-lft-blue1 ul.qtabs li.hover span {
	text-decoration: underline;
}
.qthead-lft-blue1 ul.qtabs li.open span{
	color: #666666;
	text-decoration: none;
}

div.current-lft-blue1 {
	clear: none;
	float: left;
/*	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #d0d0d0;
	background-color: #f4f4f4;*/
	padding: 0;
	width: 300px;
	height: 200px; /* same as .qthead-lft-blue1 */
}