/**
 * @version SVN: $Id$
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku) {@link http://www.nik-it.de NiK-IT.de}
 * @author      Created on 28-Sep-2009
 */
label.creditsLabel {
    width: 13em;
    float: left;
    margin-right: 0.5em;
    display: block;
    font-weight: bold;
}

.ecr_floatbox ul {
    padding: 0;
    list-style: none;
}

.ecr_floatbox li {
    margin-bottom: 0.3em;
}

x {
    margin: 0;
}

ul.sortable {
    min-height: 18px;
    border: 1px solid gray;
}

ul.sortable li {
    height: 18px;
}

ul.sortable li:hover {
    background-color: #ddd;
    cursor: move;
}

ul#package-to {
    background-color: #f2ffff;
}

ul.sortable li.menu {
    height: 80px;
}

/* Tables view */
div#er_display {
    border: 1px solid black;
    background-color: #ccc;
    margin: 1em;
    padding-bottom: 30px;
    padding-top: 30px;
}

div.closeButton {
    border: 1px solid gray;
    padding: 0.3em;
    font-weight: bold;
    float: right;
}

div.closeButton:hover {
    cursor: pointer;
    background-color: #e5ff99;;
}

div#addBox {
    background-color: #fff;
    display: none;
    z-index: 33;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

div.plumbBox {
    padding: 0.3em;
}

th.hasEasyTip {
    background-color: #b2cce5;
    cursor: help;
}
