/**
 * @version SVN: $Id$
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku) {@link http://www.nik-it.de NiK-IT.de}
 * @author      Created on 28-Sep-2009
 */
img#loaderPic {
   float: left;
   padding: 0.5em;
}

div#wizard_control {
   float: right;
}

.wiz_step {
   padding: 5px;
   background-color: #FFFFCC;
   border: 1px solid grey;
   margin-right: 10px;
   margin-left: 10px;
}

.ecr_wiz_desc {
   background: url(../images/splash_green.png) 0 50% no-repeat;
   background-color: #E5FF99;
   padding: 3px;
   padding-left: 35px;
   border-top: 2px solid green;
   border-bottom: 2px solid green;
   min-height: 30px;
}

.ecr_wiz_desc ul {
   padding-left: 10px;
}

.ecr_prevnext {
   text-align: center;
   border: 1px solid black;
   padding: 3px;
   margin: 7px;
   background-color: #FFFFCC;
}

.button1-right {
   background: url(../images/j_button1_right.png) 100% 0 no-repeat;
   float: left;
   margin-left: 5px;
}

.button1-right .prev {
   float: left;
   background: url(../images/j_button1_prev.png) no-repeat;
}

.button1-left {
   background: url(../images/j_button1_left.png) no-repeat;
   float: left;
   margin-left: 5px;
}

.button1-left .next {
   float: left;
   background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1-left a,.button1-right a {
   display: block;
   height: 26px;
   float: left;
   line-height: 26px;
   font-size: 11px;
   font-weight: bold;
   color: #333;
   cursor: pointer;
   text-decoration: none;
}

.button1-left a {
   padding: 0 30px 0 6px;
}

.button1-right a {
   padding: 0 6px 0 30px;
}

.button1-left a:hover {
   text-decoration: none;
   color: green;
}

.button1-right a:hover {
   text-decoration: none;
   color: green;
}

div#stepbar div.b {
   /*  background: url(../images/xj_border.png) 0 100% repeat-x;*/
   /* background-color: red;*/
   
}

div#step div.b div.b {
   background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#step div.b div.b div.b {
   background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

div.m {
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   padding: 0 8px;
}

div.t,div.b {
   height: 6px;
   padding: 0;
   margin: 0;
   overflow: hidden;
}

div.wizard-row {
   margin-bottom: 0.5em;
}

div.ecr_floatbox_title {
   margin-bottom: 0.5em;
   border-bottom: 1px solid #ddd;
}

div.wizard-header {
   font-size: 1.5em;
   font-weight: bold;
   padding-bottom: 1em;
}
