@CHARSET "UTF-8";
/**
 * @package     EasyCreator
 * @subpackage  CSS
 * @author      Nikolai Plath (elkuku)
 * @author      Created on 07-Aug-2011
 */

ul.downloadLinks {
    list-style: none;
    padding-left: 1em;
}

pre#ecrDebugBox {
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 0.5em;
    font-size: 12px;
    height: 150px;
    border-radius: 10px;
    overflow: auto;
}
